.card{
    
    /* height: 300px;
    width: 405px; */
    /* background-color: palevioletred; */
}

.card_face{
    display: inline-block;
    align-items: center;
    height: 300px;
    width: 200px;
    background-color:darkslateblue;
    /* border: 5px solid white; */
}

p{
    position: relative;
    top: 25%;
    color: beige;
    text-align:center;
    font-size: 45px;
}

.card_face_front:hover{
    color: black;
    transform: rotateY('180');
}